:root {
    --light-grey: #f5f6f7;
    --dark-blue: #0a0a23;
    --fcc-blue: #1b1b32;
    --light-yellow: #fecc4c;
    --dark-yellow: #feac32;
    --light-pink: #ffadad;
    --dark-red: #850000;
    --light-green: #acd157;
  }
  
  body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background: linear-gradient(to bottom right, var(--fcc-blue), var(--dark-blue));
    color: var(--light-grey);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  main {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 600px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container {
    width: 100%;
  }
  
  label,
  legend {
    font-weight: bold;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  button {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--light-yellow);
    border: 2px solid var(--dark-yellow);
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  button:hover {
    background-color: var(--dark-yellow);
    border-color: var(--light-yellow);
  }
  
  button,
  input,
  select {
    min-height: 24px;
    color: var(--dark-blue);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    background-color: var(--light-grey);
  }
  
  fieldset,
  label,
  button,
  input,
  select {
    margin-bottom: 10px;
  }
  
  .output {
    border: 2px solid var(--light-grey);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .hide {
    display: none;
  }
  
  .output span {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .surplus {
    color: var(--light-pink);
  }
  
  .deficit {
    color: var(--light-green);
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  